@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Market Map Maker</h1>
    <h2 class="display-4">Your all-in-one research platform for early stage ventures</h2>
</div>

<div class="text-center">
    <a asp-controller="MarketMap" asp-action="Index" class="btn btn-primary">Go to Market Map</a>
</div>
