@model IEnumerable<MarketResearchManagment.Models.MarketMap>

<h2>Market Maps</h2>

@foreach (var map in Model)
{
    <div>
        <h3>@map.Name</h3>
        <p>@map.Description</p>

        <img src="@Url.Content(map.ImageUrl)" alt="Map Image" style="width:100%;max-width:600px;" />
    </div>
}
<a href="@Url.Action("UploadMap", "MarketMap")" class="btn btn-primary">Add Your Own Map</a>

